*{
  margin: 0;
  padding: 0;
}

li{ 
list-style:none;
}
body{
font-family: 'Quicksand', sans-serif;
}
.block1{
  width: 100%;
  height: auto;
  border: solid 1px red;
}
.fon img{
  width: 100%;
  height: auto;
}
.menu{
position: absolute;
margin-top: 40px;
 width: 100%;
}
.logo{
   position: absolute;
   
   padding-left:8%;  
}
.topnav{
padding-left:80%;  
}

ul {
  list-style: none; 
  margin: 0; 
  padding-left: 0; 
}
a {
  text-decoration: none;
  color: white;
  font-size: 20px;

 }

 li {
  float: left;
  padding-left:30px;   

 }

 @media screen and (max-width: 1100px) {
.topnav{
padding-left:60%;  
}
}

 @media screen and (max-width: 610px) {
.topnav{
padding-left:40%;  
}
}
 @media screen and (max-width: 420px) {
.topnav{
padding-left:20%;  
}
}
.textinfo1{
  width: 100%;
  margin-top: 20%;
  text-align:center;
}
.g1{
text-decoration: none;
  color: white;
  font-size: 70px;
}
.textinfo2{
  margin-left: 20%;
  width: 60%;
  padding-top: 10px;
  text-align:center;
}
.g2{
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: 50;

}
@media screen and (max-width: 810px) {
.textinfo2{
  display: none;
}
}
@media screen and (max-width: 810px) {
.g1{
  font-size: 30px;
}
}
.block3{
  background-color:#aa9b77;
  width: 100%;
  height: auto;
  padding:70px 0 60px ;
  border: solid 1px red;
  
}
.kvadrat{
  margin-top:-15px; 
  padding:60px 120px 0 120px ;
  margin-left: 30%;
  width: 40%;
  height: 200px;
  border: solid 3px #918363;
  text-align: center;
  color:#424242;
  font-size:1vw;
}
.zagol{
  text-align: center;
  margin-top: 10px;

  color:white;
  font-size: 20px;
}
@media screen and (max-width: 480px) {
.kvadrat{
  margin-left: 25%;
}
}
@media screen and (max-width: 340px) {
.kvadrat{
  margin-left: 30%;
}
}
@media screen and (max-width: 1100px) {
.kvadrat{
 padding:60px 60px 0 60px ;
 font-size:1.4vw;
}
}
@media screen and (max-width: 560px) {
.kvadrat{
 padding:60px 30px 0 30px ;
 font-size:2vw;
}
}
.block4{
  background-color:#535253;
  width: 100%;
  height: auto;
  padding:30px 0 30px ;
  border: solid 1px red;
  
}
.tvit{
  padding: 0 60px 0 30px;
}
@media screen and (max-width: 350px) {
.tvit{
 font-size:4vw;
}
}
.block5{
  background-color:#424242;
  width: 100%;
  height: auto;
  padding:100px 0 120px ;
  border: solid 1px red;
  
}
#tetxt{
  padding:0 80px;
  color: white;
  font-family: 'Quicksand', sans-serif;
}
#tetxt2{
  padding:0 80px;
  color: white;
font-family: 'Quicksand', sans-serif;
}
